.main {
    overflow: hidden;
}
.header {
    height: 104px;
    background: rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -4px;
}
.navbar {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__logo {
    padding: 0 25px 0 15px;
}
.navbar__logo-img {
    width: 160px;
}
.navbar__list {
    margin: 0;
    padding: 0 15px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navbar__item {
    position: relative;
    bottom: -4px;
    margin-right: 10px;
    padding: 15px 3px;

}
.navbar__item:last-child {
    margin: 0 0 0 25px;
}
.navbar__link { 
    color: var(--while-color);
    font-size: 1.4rem;
    padding: 10px;
    letter-spacing: 2px;
}
.navbar__item--book .navbar__link {
    background: #ba71da;
    border-radius: 30px;
}
.best-packages {
    padding: 0 8px;
    cursor: pointer;
}
.best-packages__icon {
    font-size: 2.8rem;
    color: #aeabae;
}

/* show-best-packages */
.show-best-packages:checked ~ .navbar-best-packages {
    right: 0;
    opacity: 1;
}

/* navbar-best-packages */
.navbar-best-packages {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    max-width: 100%;
    height: 100vh;
    background-color: var(--while-color);
    text-align: center;
    padding: 0 15px 29px;
    overflow-y: auto;
    opacity: 0;
    transition: right ease 0.9s, opacity linear .9s;
    -webkit-tap-highlight-color: transparent;
}
.navbar-best-packages__close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 2.2rem;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: 0 4px;
    color: var(--text-color);
}
.navbar-best-packages__label {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--text-color);
    letter-spacing: 2px;
    margin-bottom: 3px;
}
.navbar-best-packages__logo {
    font-size: 2.5rem;
    color: #555;
    font-weight: 700;
    text-decoration-color: #f2ce34;
    
}
.packages-places {
    margin-top: 25px;
    padding: 15px;
    display: flex;
}
.packages-places__img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.packages-places__info {
    padding-left: 20px;
    text-align: left;
    width: 100%;
    color: var(--text-color);
}
.packages-places__info-name {
    font-size: 2rem;
    margin: 0 0 6px;
    font-weight: 400;
    color: #555;
}
.packages-places__info-place {
    font-size: 1.5rem;
}
.packages-places__info-place i {
    margin-right: 4px;
}
.packages-places__info-price {
    width: 100%;
    margin-top: 20px;
    display: block;
    padding: 8px 20px;
    border-radius: 30px;
    color: var(--while-color);
    background: linear-gradient(to right, #ffce05, #ffa004);
    outline: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.packages-place-hight {
    height: 263px;
    margin: 40px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.packages-place-hight__info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}
.packages-place-hight__descr-wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.packages-place-hight__descr {
    display: none;
}
.packages-place-hight:hover  .packages-place-hight__descr {
    display: block;
}
.packages-place-hight__descr-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

/* moblet-menu */
.moblet-menu {
    margin-top: 8px;
    text-align: left;
    padding: 15px;
    display: none;
}
.moblet-menu-box {
    margin: 32px 0;
}
.moblet-menu__heading--book {
    letter-spacing: 3px;
}
.moblet-menu__heading {
    font-size: 2.4rem;
    color: var(--while-color);
    font-weight: 700;
}
.moblet-menu__list {
    list-style: none;
    padding-left: 14px;
}
.moblet-menu__list--child {
    padding-left: 20px;
}
.moblet-menu__item {
    margin-top: 8px;
}
.moblet-menu__item:hover,
.moblet-menu__heading:hover {
    opacity: 0.9;
}
.moblet-menu__link {
    color: var(--while-color);
    font-size: 1.4rem;
    padding: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* search */
.header-container {
    padding-top: 65%;
    background: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
.search-box {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: var(--while-color);
    -webkit-tap-highlight-color: transparent;
}
.search__label {
    font-size: 5rem;
    margin: 0 0 35px 0;
}
.search__label--line {
    text-decoration: underline;
    text-decoration-color: #ba71da;
}
.search__desrc {
    font-size: 2rem;
    margin: 0 0 65px 0;
    letter-spacing: 4px;
}
.search-select-box {
    position: relative;
    width: 370px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 55px;
}
.search-select__list {
    width: 100%;
    padding: 10px 25px;
    font-size: 1.5rem;
    color: #a3a3a3;
    outline: none;
    border-radius: 30px;
    border: none;
}
.search-select__submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.search-select__submit-icon {
    font-size: 1.6rem;
    color: #a3a3a3;
    padding: 10px 20px;
    
}
.search-section {
    display: flex;
    justify-content: center;
}
.search-section__link {
    padding: 18px 36px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin: 0 15px;
}
.search-section__img {
    width: 40px;
    margin-bottom: 16px;
}
.search-section__descr {
    color: var(--while-color);
    font-size: 1.1rem;
    margin: 0;
    letter-spacing: 3px;
    font-weight: 400;
}

/* content  */
.content {
    -webkit-tap-highlight-color: transparent;
}
.content__label {
    text-align: center;
    margin: 56px 0 35px 0
}
.content__heading {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.content__descr {
    font-size: 3.5rem;
    color: #555;
}
.content__descr span {
    text-decoration: underline;
    text-decoration-color: var(--bg-overlay);
}

/* content OUR PROPOSALS */
.proposals {
    position: relative;
    margin: 12px 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
}
.proposals__img {
    width: 100%;
    height: 100%;
}
.proposals-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}
.proposals-info__wrap {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: var(--while-color);
}
.proposals-info__label {
    font-size: 2rem;
}
.proposals-info__text {
    font-size: 1.4rem;
}
.proposals-descr {
    display: none;
}
.proposals:hover .proposals-descr {
    display: block;
}
.proposals-descr__wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.proposals-descr__link {
    margin: 25px auto 0;
}

/* banner */
.banner {
    margin: 60px 0;
    padding-top: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-heading {
    font-size: 5rem;
    margin: 0;
    color: var(--while-color);
}
.banner-heading span {
    text-decoration: underline;
    text-decoration-color: #e66d79;

}
.banner-wrap h6 {
    font-size: 4.5rem;
}
.banner-view {
    margin-left: 140px;
    text-align: center;
    color: #e66d79;
    padding: 13px 13px;
    width: 240px;
}
.banner-mobile-box {
    display: none;
    justify-content: center;
    width: 100%;
}
.banner-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

/* beaches */
.beaches {
    margin-right: 15px;
    padding: 15px;
}
.beaches-info {
    color: var(--text-color);
}
.beaches-info__descr {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 16px 0;
    letter-spacing: 3px;
}
.beaches-info__heading {
    font-size: 3.6rem;
    margin: 0 0 24px;
    color: #555;
}
.beaches-info__heading span {
    text-decoration: underline;
    text-decoration-color: var(--bg-overlay);
}
.beaches-info__text {
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0px 0 30px;
}
.beaches-info__prices {
    font-size: 1.4rem;
    color: #555;
    /* font-weight: ; */
}
.beaches-info__prices--old {
    text-decoration: line-through;
    font-size: 2.5rem;
    color: var(--text-color);
}
.beaches-info__prices--new {
    font-size: 3rem;
    margin-left: 8px;
}
.beaches__book {
    background-color: #1bbc9b;
    color: var(--while-color);
    text-align: center;
    padding: 12px 8px;
    letter-spacing: 3px;
    margin-top: 24px;
}

/* Slideshow */
.slider-wrap {
    margin-bottom: 200px;
}
.slidershow{
    position: relative;
    width: 100%;
    height: 410px;
}
.slidershow-box {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    overflow: hidden;
    border-radius: 3px;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    
}
.slide img{
    width: 100%;
    height: 100%;
    transition: linear;
}

.navigation{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 5px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
      position: absolute;
      visibility: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}

/* times */
.times {
    width: 65%;
    height: 116px;
    background: #14b9d5;
    position: absolute;
    top: calc(100% - 58px);
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border-radius: 3px;
}
.times span {
    font-size: 4rem;
    color: #12b0cb;
}
.time-box {
    color: var(--while-color);
    text-align: center;
}
.time__num {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
}
.time__descr {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 4px 0 0 0;
}

/* tour */
.tour {
    margin: 85px 0 80px;
    display: flex;
}
.tour-box-img {
    margin-right: 22px;
}
.tour-img {
    width: 50px;
    height: 50px;
    
}
.tour-info {

}
.tour-info__heading {
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #555;
    margin: 0;
}
.tour-info__text {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 20px 0;
    letter-spacing: 1px;
    line-height: 1.8;
}
.tour-info__view {
    color: var(--bg-overlay);
    font-size: 1.4rem;
}

/* dicover */
.dicover {
    height: 269px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: -12px;
    margin-right: -12px;
}
.discover-descr {
    position: absolute;
    color: var(--while-color);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discover-descr__heading1 {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}
.discover-descr__heading2 {
    margin: 20px 0 40px;
    font-size: 3.6rem;
}
.discover-descr__view {
    margin: auto;
    max-width: 136px;
    padding: 13px 2px;
    letter-spacing: 2px;
    font-weight: 500;
}
.discover-descr__view--1 {
    color: #d2b08e;
}
.discover-descr__view--2 {
    color: #629a8f;
}

/* discount */
.discount-box-wrap {
    margin-bottom: 76px;
}
.discount {
    width: 100%;
    border: 1px solid #f1f1f1;
}
.discount-border {
    border-bottom: 1px solid #f1f1f1;
}
.discount__img-link {
    width: 100%;
}
.dicount__img {
    width: 100%;
}
.discount-info {
    padding: 30px;
}
.discount-info__heading-label {
    font-size: 2rem;
    color: #555;
    margin: 0;
}
.discount-info__heading-place {
    margin: 10px 0 20px;
    font-size: 1.5rem;
    color: var(--text-color);
}
.discount-info__heading-place i {
    margin-right: 6px;
}

.discount-info__prices {
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.discount-info__prices-text {
    margin: 0 0 4px 0;
}
.discount-info__prices-text span {
    border-radius: 10px;
    margin-left: 8px;
    padding: 0px 8px;
    font-size: 1.2rem;
    color: #fff;
}
.discount-info__prices-box {
    font-size: 2.5rem;
    color: #555;
    font-weight: 600;
}
.discount-info__prices-price--old {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: line-through;
}

.discount-info__detail {
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.discount-info__detail-text {
    margin: 20px 0;
    line-height: 1.8;
    letter-spacing: 2px;
}
.discount-info__detail-view {
    color: #fff;
    max-width: 98px;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
}
.brelin {
    background-color: #ffd205;
}
.hongkong {
    background-color: #f26b6a;
}
.Francisco {
    background-color: #b970d9;
}

/* footer */
.footer {
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer-wrap {
    width: 100%;
    position: absolute;
    top: 80px;
}
.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-heading1 {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 0;
    color: var(--text-color);
}
.footer-heading2 {
    font-size: 3.6rem;
    color: #555;
    margin: 20px 0 0;
}
.footer__contact-us {
    margin-top: 20px;
    margin-left: 145px;
}
.footer-contact__input {
    outline: none;
    border: none;
    width: 257px;
    padding: 13px 18px;
    border-radius: 20px;
    font-size: 1.6rem;
    color: var(--text-color);
}
.footer-contact__submit {
    height: 43px;
    padding: 10px 25px;
    outline: none;
    border: none;
    background-color: var(--bg-overlay);
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-left: 20px;
}

.footer__main {
    width: 1200px;
    /* height: 289px; */
    padding: 35px 30px;
    background: #fff;
    position: absolute;
    margin-top: 65px;
}
.footer__main-logo {
    width: 150px;
}
.footer__main-text {
    margin: 35px 0 25px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--text-color);
    line-height: 1.8;
}
.footer__main-link {
    display: inline-block;
}
.footer__main-link i {
    font-size: 2.3rem;
    color: var(--text-color);
    padding-right: 20px;
}

.footer__main-heading {
    font-size: 1.4rem;
    color: #555;
    letter-spacing: 1px;
    margin: 0 0 35px 0;
}
.footer__main-list {
    list-style: none;
    padding-left: 0;
    
}
.footer__main-item {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 16px;
    margin-left: 2px;
    letter-spacing: 1px;
}
.footer__main-item i {
    margin-right: 6px;
}

.footer-end {
    height: 52px;
    background-color: var(--bg-overlay);
    position: absolute;
    bottom: -52px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
.footer-end__text {
    font-size: 1.2rem;
    color: var(--while-color);
    letter-spacing: 3px;
    line-height: 52px;
    padding: 0 20px;
}