/* moblet */
@media (max-width: 1023px) {
    .hide-on-moblet {
        display: none;
    }

    .navbar__list {
        display: none;
    }
    
    .header-container {
        padding-top: 100%;
    }
    .search-select-box {
        width: 300px;
    }
    .best-packages {
        margin-top: 6px;
    }
    .content__label {
        margin: 25px 0;
    }
    .navbar-best-packages {
        background-color: #555;
    }
    .moblet-menu {
        display: block;
    }
    .beaches {
        text-align: center;
    }
    .beaches__book {
        margin: 24px auto;
    }
    .tour {
        margin: 30px 0 15px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .tour-box-img {
        margin: 16px 0;
    }
    .slidershow-box {
        margin: 0;
    }
    .discover-molet {
        margin: 32px 0;
    }
    .footer-heading {
        flex-direction: column;
        justify-content: left;
    }
    .footer-heaing-box {
        width: 100%;
    }
    .footer__contact-us {
        width: 100%;
        display: flex;
        margin-left: 0;
    }
    .footer-contact__input {
        width: 500px;
    }
    .footer__main {
        display: none;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .search__label {
        display: none;
    }
    .search__desrc {
        margin-bottom: 16px;
        font-size: 1.6rem;
    }
    .header__wrap {
        flex-direction: column;
    }
    .proposals {
        margin: 4px 8px;
    }
    .banner {
        margin: 40px 0;
    }
    .banner-mobile-box  {
        display: flex;
    }
    .discount {
        padding: 8px;
    }
    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .discount {
        margin-bottom: 16px;
    }
}